  @import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css"); /* github icon */

  .project-feed {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1000px;
  }

  .project-card {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: calc(45% - 40px);
    justify-content: space-between;
  }

  .project a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
    padding-left: 5px;
  }

  .project h1 {
    color: #242020;
    font-weight: 500;
    font-size: 2em;
  }
  
  .project h2 {
    color: #333;
    font-weight: 300;
    font-size: 1.5em;
  }
  
  p {
    color: #666;
    font-size: 1em;
    line-height: 1.4;
  }