.blog {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.blog-post-card {
    margin: 25px;
    min-width: 300px;
    padding: 40px;
    border-radius: 8px;
    background: #fffffe;
}

/* 
TODO get the yellow underline working!
.blog h3::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 95%;
    height: 2px;
    background-color: #fbdd74;
  } */

.blog-post-card a:not(.preview) {
    font-weight: 400;
    text-decoration: none;
    font-size: 2rem;
    color: #fffffe; 
}

.blog-post-card p:not(.preview) {
    color: #fffffe; 
}

a.preview {
    color: #2e2e2e;
}

.box {
    position: absolute;
    width: 40%;
    top: 50%;
    left: -1%; 
    /* transform: translate(-50%, -50%); */
    z-index: 1; 
    color: white; 
    background: #4fc4cf; 
    padding: 10px;
    border-radius: 8px;
}

.header-container {
    position: relative;
    display: inline-block;
}

img {
    border-radius: 8px;
}

img.featured-image {
    width: 100%;
    min-width: 375px;
    height: auto;
}

.blog-post h3 {
    color: white; 
    background: #4fc4cf; 
    padding: 20px;
    border-radius: 8px;
}

.blog-post .header-container h3 {
    font-size: 2rem;
    position: absolute;
    top: 55%;
    left: 15%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
    color: white; 
    background: #4fc4cf; 
    padding: 20px;
    border-radius: 8px;
}

img.blog-post-image {
    max-width: 400px;
    margin: 20px;
}

img.left {
    float: left;
}

img.right {
    float: right;
}

.blog-post {
    padding: 50px;
}

@media (max-width: 600px) {
    .content {
        max-width: 375px;
    }
    .blog-post {
        padding: 0px;
    }

    .blog-post .header-container h3 {
        font-size: 1.25rem;
        font-weight: 200;
        left: 30%;
        top: 65%;
        padding: 15px;
        border-radius: 8px;
    }

    img.featured-image {
        border-radius: 0px;
        max-width: 375px;
        height: auto;
    }

    img.blog-post-image {
        min-width: 325px;
        min-height: 325px;
        justify-content: center;
        margin: 20px;
        float: none;
    }

    .blog-post-card {
        margin: 0px;
    }

    .box {
        font-size: 0.75rem;
        font-weight: 200;
        width: 80%;
        top: 50%;
        left: 10%; 
        z-index: 1; 
        color: white; 
        background: #4fc4cf; 
        padding: 10px;
        border-radius: 8px;
    }
}