.blog {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.blog-post-card {
    margin: 25px;
    min-width: 300px;
    padding: 40px;
    border-radius: 8px;
    background: #fffffe;
}

/* 
TODO get the yellow underline working!
.blog h3::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 95%;
    height: 2px;
    background-color: #fbdd74;
  } */

.blog-post-card a:not(.preview) {
    font-weight: 400;
    text-decoration: none;
    font-size: 2rem;
    color: #fffffe; 
}

.blog-post-card p:not(.preview) {
    color: #fffffe; 
}

a.preview {
    color: #2e2e2e;
}

.box {
    position: absolute;
    width: 40%;
    transform: translate(5%, -100%);
    z-index: 1; 
    color: white; 
    background: #4fc4cf; 
    padding: 10px;
    border-radius: 8px;
}

.header-container {
    position: relative;
    display: inline-block;
}

img {
    border-radius: 8px;
}

img.featured-image:not(.blog-post-card) {
    width: 100%;
    min-width: 375px;
    height: auto;
    border-radius: 0px;
}

.header-container h3 {
  font-weight: 400;
  font-size: 1.5rem;
  display: block;
  color: #fffffe;
  position: absolute;
  transform: translate(20%, -200%);
  max-width: 60%;
}

.header-container h3 {
    color: white; 
    background: #4fc4cf; 
    padding: 20px;
    border-radius: 8px;
}

/* .header-container h3:not(.blog-post-card) {
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    transform: translate(20%, -200%);
    z-index: 1; 
    color: white; 
    background: #4fc4cf; 
    padding: 20px;
    border-radius: 8px;
} */

img.blog-post-image {
    max-width: 400px;
    margin: 20px;
}

img.left {
    float: left;
}

img.right {
    float: right;
}

.blog-post {
    padding: 50px;
}

@media (max-width: 600px) {
    .blog-post {
        padding: 30px;
    }

    img.blog-post-image {
        justify-content: center;
        margin: 0px;
        float: none;
        max-width: 300px;
    }

    .blog-post-card {
        margin: 0px;
        max-width: 350px;
    }

    .box {
        font-size: 0.75rem;
        font-weight: 200;
        width: 80%;
        transform: translate(5%, -100%);
        z-index: 1; 
        color: white; 
        background: #4fc4cf; 
        padding: 10px;
        border-radius: 8px;
    }
}