.bio h3 {
  font-weight: 400;
  font-size: 1.5rem;
  position: relative;
  display: block;
  padding-bottom: 20px;
}

.bio h3::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 78%;
  height: 2px;
  background-color: #4fc4cf;
  z-index: 1;
}

.bio a {
  color: inherit;
}

.bio h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.social-container h3{
  font-size: 1.05em;
  font-weight: 100;
}

.social-container {
  margin-top: 50px;
}

.page {
  padding: 50px 75px;
}

.about .circle-container {
  float: right;
  margin: 20px;
}

.circle-container {
  position: relative;
  max-width: 400px;
  z-index: 5;
}

img.katie {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 4px #fbdd74;
  border-style: solid;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: #331B3F;
}
a.social:hover {
  transform: translateY(-2px);
}

blockquote {
  margin-top: 30px;
  padding-left: 10px; 
  border-left: 5px solid #4fc4cf; 
  color: #181818;
}

blockquote p:nth-child(2) {
  font-style: italic;
  padding-left: 20px;
}

@media (max-width: 600px) {
  img .katie {
    float: none;
  }

  .page{
    padding: 30px;
  }

  .about .circle-container {
    margin: 15px;
    max-width: 150px;
  }
}